# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

In [2]:
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
favorite_animal        5000 non-null object
favorite_vegetable     5000 non-null object
favorite_fruit         5000 non-null object
wears_glasses          5000 non-null object
netflix_consumption    5000 non-null float64
open_browser_tabs      5000 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 234.5+ KB

In [4]:
df.dtypes

favorite_animal         object
favorite_vegetable      object
favorite_fruit          object
wears_glasses           object
netflix_consumption    float64
open_browser_tabs        int64
dtype: object

In [5]:
df.shape

(5000, 6)

- What is the highest amount of netflix consumption? `17.535`

In [6]:
df.netflix_consumption.max()

17.534818515438925

- How many people wear glasses? What percentage of people is this? `2555`, `.511`

In [7]:
df[df.wears_glasses == 'yes'].shape[0]

2555

In [10]:
df.wears_glasses.value_counts(normalize = True)

yes    0.511
no     0.489
Name: wears_glasses, dtype: float64

- How many people's favorite animal is a dog? `1002`

In [12]:
(df.favorite_animal == 'dog').sum()

1002

- What is the most common favorite animal? `lemur`

In [13]:
df.favorite_animal.value_counts()

lemur    1028
frog     1015
dog      1002
cat       980
panda     975
Name: favorite_animal, dtype: int64

- What is the average netflix consumption for people that prefer brussel
  sprouts? `10.008`

In [16]:
df[df.favorite_vegetable == 'brussel sprouts'] # know thew colomns are the right way
df[df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366

- What is the most common favorite fruit for people who wear glasses and have
  more than 40 open browser tabs? `blueberries`

In [22]:
df[(df.wears_glasses == 'yes') & (df.open_browser_tabs > 40)].favorite_fruit.value_counts()

blueberries    498
apple          477
banana         472
Name: favorite_fruit, dtype: int64

- What percentage of people have a netflix consumption lower than 7? `.0716`

In [24]:
(df.netflix_consumption < 7).mean()

0.0716

- What is the average netflix consumption for people with less than 30 open
  browser tabs? `9.91935`

In [27]:
df[df.open_browser_tabs < 30].netflix_consumption.mean()

9.91935736918227

- How many people *don't* wear glasses, have a favorite animal of a panda, have
  a favorite fruit of blueberries, and have more than 60 open browser tabs? What
  is the median netflix consumption for this group? What is the most common
  favorite vegetable for this group? `46`, `10.455`, `potato`

In [ ]:
# create several boolean mask and combine them together
no_glasses = df.wears_glasses == 'no'
loves_pandas = df.favorite_animal == 'panda'
too_many_tabes = df.open_browser_tabs > 60
likes_blueberries = df.favorite_fruit == 'blueberries'

mask = no_glasses & loves_pandas & too_many_tabes & likes_blueberries

In [31]:
df[mask].shape

(46, 6)

In [30]:
df[mask].netflix_consumption.median()

10.45479760071613

In [33]:
df[mask].favorite_vegetable.value_counts()

potato             19
brussel sprouts    14
squash             13
Name: favorite_vegetable, dtype: int64

In [37]:
subgroup = df[df.wears_glasses == 'no']
subgroup = subgroup[subgroup.favorite_animal == 'panda']
subgroup = subgroup[subgroup.open_browser_tabs > 60]
subgroup = subgroup[subgroup.favorite_fruit == 'blueberries']
subgroup

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
215,panda,potato,blueberries,no,11.948934,88
440,panda,potato,blueberries,no,13.016554,89
631,panda,potato,blueberries,no,10.521033,83
775,panda,brussel sprouts,blueberries,no,7.956600,76
895,panda,squash,blueberries,no,10.788124,84
1000,panda,potato,blueberries,no,10.521184,89
1045,panda,squash,blueberries,no,7.473376,85
1064,panda,potato,blueberries,no,8.495721,84
1155,panda,brussel sprouts,blueberries,no,13.694328,84
1161,panda,brussel sprouts,blueberries,no,12.481761,73
1189,panda,potato,blueberries,no,11.120507,73
1190,panda,brussel sprouts,blueberries,no,8.258191,73
1472,panda,potato,blueberries,no,8.148575,79
1485,panda,brussel sprouts,blueberries,no,10.371062,65
1527,panda,squash,blueberries,no,15.847422,78
1652,panda,potato,blueberries,no,12.404817,83
1706,panda,squash,blueberries,no,5.759472,87
1723,panda,brussel sprouts,blueberries,no,11.035817,62
1892,panda,potato,blueberries,no,9.837958,62
1893,panda,potato,blueberries,no,12.060277,66
2212,panda,brussel sprouts,blueberries,no,13.467079,76
2287,panda,potato,blueberries,no,10.388562,86
2321,panda,brussel sprouts,blueberries,no,13.536174,81
2417,panda,potato,blueberries,no,11.126575,71
2603,panda,potato,blueberries,no,7.170269,74
2647,panda,brussel sprouts,blueberries,no,8.207086,82
2749,panda,brussel sprouts,blueberries,no,10.967248,78
2779,panda,squash,blueberries,no,8.891346,65
3033,panda,potato,blueberries,no,8.223583,78
3034,panda,squash,blueberries,no,9.180810,82
3115,panda,squash,blueberries,no,10.052411,88
3634,panda,squash,blueberries,no,8.547776,75
3669,panda,potato,blueberries,no,10.967613,80
3732,panda,brussel sprouts,blueberries,no,13.573392,71
3740,panda,potato,blueberries,no,10.741732,61
3866,panda,brussel sprouts,blueberries,no,5.905466,64
3953,panda,squash,blueberries,no,9.206541,83
4030,panda,squash,blueberries,no,7.944691,64
4058,panda,potato,blueberries,no,8.344644,78
4170,panda,potato,blueberries,no,9.128692,75
4391,panda,squash,blueberries,no,10.748861,87
4403,panda,squash,blueberries,no,10.820437,84
4484,panda,brussel sprouts,blueberries,no,12.337730,89
4548,panda,squash,blueberries,no,8.169062,62
4620,panda,brussel sprouts,blueberries,no,10.636185,74
4705,panda,potato,blueberries,no,6.639107,61

- What is the least popular combination of favorite fruit and vegetable? `apple` and `potato`

In [39]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size().sort_values() # sorts numerically

favorite_fruit  favorite_vegetable
apple           potato                512
banana          squash                524
apple           squash                555
blueberries     brussel sprouts       555
                potato                560
apple           brussel sprouts       565
banana          potato                570
                brussel sprouts       576
blueberries     squash                583
dtype: int64

In [38]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size()

favorite_fruit  favorite_vegetable
apple           brussel sprouts       565
                potato                512
                squash                555
banana          brussel sprouts       576
                potato                570
                squash                524
blueberries     brussel sprouts       555
                potato                560
                squash                583
dtype: int64

- Which combination of favorite animal and wearing glasses has the highest average
  netflix consumption? people that wear glasses and prefer pandas

In [40]:
df.groupby(['favorite_animal', 'wears_glasses']).netflix_consumption.mean().sort_values()

favorite_animal  wears_glasses
frog             yes               9.834740
cat              no                9.846183
                 yes               9.884685
dog              no                9.933246
panda            no                9.946293
frog             no                9.962311
lemur            yes              10.010196
                 no               10.024557
dog              yes              10.087352
panda            yes              10.092273
Name: netflix_consumption, dtype: float64

In [41]:
# values (numeric), rows (category), columns (category)
df.pivot_table('netflix_consumption', 'favorite_animal', 'wears_glasses')

wears_glasses           no        yes
favorite_animal
cat               9.846183   9.884685
dog               9.933246  10.087352
frog              9.962311   9.834740
lemur            10.024557  10.010196
panda             9.946293  10.092273

- **Bonus**: for each of the above questions, what kind of visualization would
  be the most effective in conveying your answer?