In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import wrangle

In [2]:
df = wrangle.get_data_from_sql()

### Acquire customer_id, monthly_charges, tenure, and total_charges from telco_churn database for all customers with a 2 year contract.

In [3]:
df.head()

  customer_id  monthly_charges  tenure total_charges
0  0013-SMEOE           109.70      71       7904.25
1  0014-BMAQU            84.65      63        5377.8
2  0016-QLJIS            90.45      65        5957.9
3  0017-DINOC            45.20      54       2460.55
4  0017-IUDMW           116.80      72       8456.75

In [4]:
df.isnull().sum()

customer_id        0
monthly_charges    0
tenure             0
total_charges      0
dtype: int64

In [5]:
df.dtypes # checking to see if there are any issues with the data types that may come later

customer_id         object
monthly_charges    float64
tenure               int64
total_charges       object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1695 non-null   object
 1   monthly_charges  1695 non-null   float64
 2   tenure           1695 non-null   int64
 3   total_charges    1695 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 53.1+ KB

In [10]:
df.total_charges = df.total_charges.astype(float)

ValueError: could not convert string to float: