In [1]:
import pandas as pd
import numpy as np

# Tidy Data

#### Exercises

1. Attendance Data

Load the `attendance.csv` file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

You should end up with something like this:

``` 
name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: grade, dtype: float64
```

In [2]:
df = pd.read_csv('untidy/attendance.csv')
df.rename(columns={'Unnamed: 0': 'name'}, inplace=True)
df = df.melt(id_vars=['name'])
df = df.replace(to_replace=['A', 'P', 'T', 'H'], value=[0,1,.9,.5])
df.head()

    name    variable  value
0  Sally  2018-01-01    1.0
1   Jane  2018-01-01    0.0
2  Billy  2018-01-01    0.0
3   John  2018-01-01    1.0
4  Sally  2018-01-02    0.9

In [3]:
df.pivot_table(values='value', index=['name']).sort_values(by='value')

        value
name
Billy  0.5250
Jane   0.6875
Sally  0.7625
John   0.9125

2. Coffee Levels

a. Read the coffee_levels.csv file.

In [4]:
cof = pd.read_csv('untidy/coffee_levels.csv')
cof.head()

   hour coffee_carafe  coffee_amount
0     8             x       0.816164
1     9             x       0.451018
2    10             x       0.843279
3    11             x       0.335533
4    12             x       0.898291

In [5]:
cof.coffee_carafe.value_counts()

z    10
x    10
y    10
Name: coffee_carafe, dtype: int64

In [6]:
cof.hour.value_counts()

17    3
16    3
15    3
14    3
13    3
12    3
11    3
10    3
9     3
8     3
Name: hour, dtype: int64

b. Transform the data so that each carafe is in it's own column.

In [7]:
cof = cof.pivot_table(columns='coffee_carafe', index = 'hour')
cof

              coffee_amount
coffee_carafe             x         y         z
hour
8                  0.816164  0.189297  0.999264
9                  0.451018  0.521502  0.915990
10                 0.843279  0.023163  0.144928
11                 0.335533  0.235529  0.311495
12                 0.898291  0.017009  0.771947
13                 0.310711  0.997464  0.398520
14                 0.507288  0.058361  0.864464
15                 0.215043  0.144644  0.436364
16                 0.183891  0.544676  0.280621
17                 0.391560  0.594126  0.436677

c. Is this the best shape for the data?

Yes and No
so it `depends`

Cake Recipes
Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, 
- oven rack positions
- oven temperatures.

In [24]:
cake = pd.read_csv('untidy/cake_recipes.csv')
cake = cake.met(id_vars='recipe:position', var_name='temp', value_name='cake_score')
cake_split = cake['recipe:position'].str.split(':', expand = True)
cake_plit.columns = ['recipe', 'position']
cake = pd.concat([cake_split, cake], axis=1).drop(columns='recipe:position')
cake.head()

  recipe position temp  cake_score
0      a   bottom  225   61.738655
1      a      top  225   51.709751
2      b   bottom  225   57.095320
3      b      top  225   82.455004
4      c   bottom  225   96.470207

Tidy the data as necessary.

Which recipe, on average, is the best? recipe b

Which oven temperature, on average, produces the best results? 275

Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees